@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
@font-face {
  font-family: 'Coolvetica';
  src: url('/fonts/Coolvetica Rg.otf') format('opentype');
  font-weight: 200;
  font-style: normal; 
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Coolvetica', Arial, sans-serif;
}


/* styles/globals.css or styles/background.css */
@keyframes move {
  0% {
    transform: translateY(0) translateX(0);
  }
  50% {
    transform: translateY(-20px) translateX(20px);
  }
  100% {
    transform: translateY(0) translateX(0);
  }
}

.background {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

.circle {
  position: absolute;
  border-radius: 50%;
  background: radial-gradient(circle, rgba(64, 16, 122, 0.5), rgba(255,255,255,0));
  filter: blur(10px);
  animation: move 5s infinite ease-in-out;
}

.circle:nth-child(1) {
  width: 250px;
  height: 250px;
  top: 10%;
  left: 20%;
  animation-duration: 3s;
}

.circle:nth-child(2) {
  width: 150px;
  height: 150px;
  top: 50%;
  left: 70%;
  animation-duration: 5s;
}

.circle:nth-child(3) {
  width: 300px;
  height: 300px;
  top: 80%;
  left: 30%;
  animation-duration: 6s;
}

.circle:nth-child(4) {
  width: 120px;
  height: 120px;
  top: 30%;
  left: 50%;
  animation-duration: 7s;
}
.circle:nth-child(5) {
  width: 120px;
  height: 120px;
  top: 10%;
  left: 20%;
  animation-duration: 5s;
}

.animatedButton {
  animation: pulse 5s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    background-color: #000;
    color: #fff;
  }
  50% {
    transform: scale(1.1);
    background-color: #fff;
    color: #000;
  }
  100% {
    transform: scale(1);
    background-color: #000;
    color: #fff;
  }
}